@import "tailwindcss";

.custom-elips {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@theme {

  --color-money-green: #00A000;
  --color-light-money-green: #73C300;
  --shadow-3xs: 0 3px 3px rgba(0, 0, 0, 0.05);
  --color-background-dark-blue: #02144b
}

#cart{
  display: none;
}